# Libraries

In [1]:
import sqlalchemy as sql
import pandas as pd
import numpy as np
import re
import string
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
from sklearn.preprocessing import MinMaxScaler, RobustScaler, LabelEncoder, OneHotEncoder, PolynomialFeatures
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# <H2><b>1. IMPORTING DATA</H2></b>

In [2]:
try:
    engine = sql.create_engine("mysql+pymysql://root:admin@localhost:3306/AirbnbDB")
    conn = engine.connect()
    print(f"Connection done to {engine} successful.")
except:
    print("Connection failed! Please check if database is working.")
    exit()

query = f"SELECT * FROM reviews_detailed"
dfRow = pd.read_sql(query, con=conn)

conn.close()
print("Connection closed.")

Connection done to Engine(mysql+pymysql://root:***@localhost:3306/AirbnbDB) successful.

In [5]:
# pd.set_option('display.max_info_columns', 100)
pd.set_option('display.max_columns', False)

In [5]:
dfRow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10690227 entries, 0 to 10690226
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   listing_id     int64
 1   date           object
 2   reviewer_id    int64
 3   reviewer_name  object
 4   comments       object
dtypes: int64(2), object(3)
memory usage: 407.8+ MB

# <H2><b>2. DATA SANITY CHECKS</H2></b>

## <H3>2.1. Structure of dataframe.</H3>

In [6]:
dfRow.shape

(10690227, 5)

In [7]:
dfRow.columns

Index(['listing_id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [8]:
dfRow.head(3)

,listing_id,date,reviewer_id,reviewer_name,comments
0,108061,2011-09-21,822907,Pedro & Katie,"Lisa is superb hostess, she will treat you lik..."
1,108061,2011-11-01,236064,Tim,This was a lovely little place walking distanc...
2,108061,2011-11-13,1382707,Shane,"Lisa was very nice to work with. However, we ..."

## <H3>2.4. Finding Duplicates.</H3>

In [9]:
dfRow.duplicated().sum()

58

In [11]:
dfRow.drop_duplicates(inplace=True)

## <H3>2.6. Finding Missing Values.</H3>

In [12]:
def missing_data(df):
    total = df.isnull().sum().sort_values(ascending = False)
    Percentage = (df.isnull().sum()/df.isnull().count()*100).sort_values(ascending = False)
    return pd.concat([total, Percentage], axis=1, keys=['Total', 'Percentage'])

missing_data(dfRow)

               Total  Percentage
comments        2836    0.026529
reviewer_name     21    0.000196
listing_id         0    0.000000
date               0    0.000000
reviewer_id        0    0.000000

In [14]:
del dfRow